/* REsponsive For Mobile */
@media screen and (max-width:576px) {
    * {
        margin: 0;
        padding: 0px;
        box-sizing: border-box;
    }
    html{
        font-size: 14px;
    }

    /* Nav bar */
    nav {
        padding-top: 30px;
        padding-left: 10px;
        padding-bottom: 12px;
        border-bottom: 1px solid #FEA301;
    }

    .fa-bars {
        display: block;
        font-size: 1.2rem;
    }

    .nav-item {
        display: none;
    }

    .nav-btn {
        display: none;
    }

    /* Herom container */

    .hero-content {
        display: flex;
        flex-direction: column-reverse;
        margin-top: 20px;
    }

    .hero-content img {
        max-width: 100%;
        padding: 20px 10px;
    }

    .hero-content h1 {
        font-size: 2rem;
        font-weight: 700;
        line-height: normal;
        text-align: center;
        margin-bottom: 18px;
        padding: 4px;
    }

    .hero-content p {
        font-size: 0.875rem;
        font-weight: 500;
        line-height: normal;
        text-align: center;
        margin-bottom: 18px;
        padding: 4px;
    }

    .hero-btn {
        font-size: 1rem;
        padding: 10px 30px;
        display: block;
        margin: 0 auto;
    }

    /* Standard Curriculum */
    .curriculum-box {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 12px;
    }

    .Curriculum h2 {
        font-size: 1.625rem;
        margin-top: 20px;
        text-align: center;
        margin-bottom: 20px;
    }

    .curriculum-box h3 {
        font-size: 1.015625rem;
        font-weight: 700;
        margin: 15px auto;
    }

    .curriculum-box p {
    font-size: 0.68875rem;
    margin:10px 30px;
    line-height: 19.22px;
}

    .curriculum-box a {
        font-size: 0.63875rem;
    }
    .angle-icon{
        display: none;
    }

    /* Our Stories */
    .story-0{
        display: none;
    }
    .story-card-box{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: px;
}
.story-card-box img{
    max-width:100%;
}
.story-card h4 {
    max-width: 10%;
    font-weight: 500;
    font-size: 0.570625rem;
    margin: 0 auto;
    margin-top: 500px;
}
.story-btn {
    font-size: 0.570625rem;
    padding: 5px 10px;
    border-radius: 28.50px;
    position: relative;
    bottom: 16px;
    left: 25px;
}

.story-bottom-btn {
    text-align: center;
    margin-top: 20px;
    padding-bottom: 40px;
}


.story-card {
    background-color: white;
    border-radius: 16px;
}

.story-card h4 {
    max-width: 80%;
    font-weight: 700;
    font-size: 1rem;
    margin: 0 auto;
    padding-top: 5px;
}
.nan{
    display: block;
}
}

/* Responsive For Tab */
@media screen and (min-width:576px) and (max-width:992px) {
    * {
        margin: 0;
        padding: 0px;
        box-sizing: border-box;
    }

    html {
        font-size: 14px;
    }

    /* Nav bar */
    nav {
        padding-top: 30px;
        padding-left: 10px;
    }

    .fa-bars {
        display: block;
        font-size: 1.2rem;
    }

    .nav-item {
        display: none;
    }

    .nav-btn {
        display: none;
    }

    /* Herom container */
    .hero-content {
        display: flex;
        flex-direction: column-reverse;
        margin-top: 50px;
    }

    .hero-content img {
        max-width: 100%;
        padding: 20px 10px;
    }

    .hero-content h1 {
        font-size: 3rem;
        font-weight: 700;
        line-height: normal;
        text-align: center;
        margin-bottom: 18px;
        padding: 4px;
    }

    .hero-content p {
        font-size: 1.125rem;
        font-weight: 500;
        line-height: normal;
        text-align: center;
        margin-bottom: 18px;
        padding: 4px;
    }

    .hero-btn {
        font-size: 1rem;
        padding: 15px 60px;
        display: block;
        margin: 0 auto;
    }

    /* Standard Curriculum */
    .curriculum-box {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 12px;
        margin:auto 100px ;
    }

    /* Our Stories */
    .story-0{
        display: none;
    }
    .story-card-box{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: px;
}
.story-card-box img{
    max-width:100%;
}
.story-card h4 {
    max-width: 10%;
    font-weight: 500;
    font-size: 0.570625rem;
    margin: 0 auto;
    margin-top: 500px;
}
.story-btn {
    font-size: 0.95875rem;
    color: white;
    background-color: #3CD8E8;
    padding: 14px 18px;
    border-radius: 47.93px;
    border: none;
    cursor: pointer;
    position: relative;
    bottom: 25px;
    left: 70px;
}

.story-bottom-btn {
    text-align: center;
    margin-top: 20px;
    padding-bottom: 40px;
}


.story-card {
    background-color: white;
    border-radius: 16px;
}

.story-card h4 {
    max-width: 50%;
    font-weight: 700;
    font-size: 1rem;
    margin: 0 auto;
    padding-top: 5px;
}
.nan{
    display: block;
}
}