/* REsponsive For Mobile */
@media screen and (max-width:576px) {
    * {
        margin: 0;
        padding: 0px;
        box-sizing: border-box;
    }
    html{
        font-size: ;
    }

    /* Nav bar */
    nav {
        padding-top: 30px;
        padding-left: 10px;
        padding-bottom: 12px;
        border-bottom: 1px solid #FEA301;
    }

    .fa-bars {
        display: block;
        font-size: 1.2rem;
    }

    .nav-item {
        display: none;
    }

    .nav-btn {
        display: none;
    }

    /* Herom container */

    .hero-content {
        display: flex;
        flex-direction: column-reverse;
        margin-top: 20px;
    }

    .hero-content img {
        max-width: 100%;
        padding: 20px 10px;
    }

    .hero-content h1 {
        font-size: 2rem;
        font-weight: 700;
        line-height: normal;
        text-align: center;
        margin-bottom: 18px;
        padding: 4px;
    }

    .hero-content p {
        font-size: 0.875rem;
        font-weight: 500;
        line-height: normal;
        text-align: center;
        margin-bottom: 18px;
        padding: 4px;
    }

    .hero-btn {
        font-size: 1rem;
        padding: 10px 30px;
        display: block;
        margin: 0 auto;
    }

    /* Standard Curriculum */
    .curriculum-box {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 12px;
    }

    .Curriculum h2 {
        font-size: 1.625rem;
        margin-top: 20px;
        text-align: center;
        margin-bottom: 20px;
    }

    .curriculum-box h3 {
        font-size: 1.015625rem;
        font-weight: 700;
        margin: 15px auto;
    }

    .curriculum-box p {
        font-size: 0.63875rem;
        margin: 10px 50px;
        line-height: 19.4px;
    }

    .curriculum-box a {
        font-size: 0.63875rem;
    }
}

/* Responsive For Tab */
@media screen and (min-width:576px) and (max-width:992px) {
    * {
        margin: 0;
        padding: 0px;
        box-sizing: border-box;
    }

    html {
        font-size: 14px;
    }

    /* Nav bar */
    nav {
        padding-top: 30px;
        padding-left: 10px;
    }

    .fa-bars {
        display: block;
        font-size: 1.2rem;
    }

    .nav-item {
        display: none;
    }

    .nav-btn {
        display: none;
    }

    /* Herom container */
    .hero-content {
        display: flex;
        flex-direction: column-reverse;
        margin-top: 50px;
    }

    .hero-content img {
        max-width: 100%;
        padding: 20px 10px;
    }

    .hero-content h1 {
        font-size: 3rem;
        font-weight: 700;
        line-height: normal;
        text-align: center;
        margin-bottom: 18px;
        padding: 4px;
    }

    .hero-content p {
        font-size: 1.125rem;
        font-weight: 500;
        line-height: normal;
        text-align: center;
        margin-bottom: 18px;
        padding: 4px;
    }

    .hero-btn {
        font-size: 1rem;
        padding: 15px 60px;
        display: block;
        margin: 0 auto;
    }

    /* Standard Curriculum */
    .curriculum-box {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 12px;
        margin:auto 100px ;
    }

    
}