/* Google font  */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
.quicksand-font {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

html{
    font-size: 16px;
}
*{
    margin: 0 ;
    padding: 10px;
    box-sizing: border-box;
}