/* Google font  */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
.quicksand-font {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

html{
    font-size: 16px;
}
*{
    margin: 0 ;
    padding: 10px;
    box-sizing: border-box;
}
/* Global Style */
.container{
    max-width: 1280px;
    margin: 0 auto;
}
.text{
    font-size: 0.95875rem;
    color: #666666;
    line-height: 28.5px;
}

.h2{
    color: #000000;
    font-size: 2.875rem;
    font-weight: 700;
}
.flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* Nav Bar */
nav{
    padding-top: 20px;
}
nav ul{
    list-style-type: none;
}
nav ul li a{
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: 500;
}
.home{
color: #FEA301;
}
.about{
color: #01ACFD;
}
.facilities{
color: #05D4DF;
}
.Admission{
   color: #5D58EF; 
}
.fa-bars{
    display: none;
}
.nav-btn{
    font-size: 1.125rem;
    font-weight: 600;
    color: white;
    background-color: #FEA301;
    border-radius: 12px;
    padding: 15px 60px;
    border: none;
    cursor: pointer;
}

/* Hero */

.hero-content h1{
    font-size: 3.5rem;
    font-weight: 700;
    line-height: 61px;
    max-width: 640px;
}
.hero-content p{
    max-width: 640px;
    padding: 24px auto ;
    color: #111111;
}
.empowering{
    color: #FEA301;
}
.towards-vision{
    color: #01ACFD;
}
.hero-btn{
    background-color: #111111;
}