/* Google font  */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.quicksand-font {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

html {
    font-size: 16px;
}

* {
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
}

/* Global Style */
.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 15px;
}

.text {
    font-size: 0.95875rem;
    color: #666666;
    line-height: 28.5px;
}

.h2 {
    color: #000000;
    font-size: 2.875rem;
    font-weight: 700;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Nav Bar */
nav {
    padding-top: 20px;
}

nav ul {
    list-style-type: none;
}

nav ul li a {
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: 500;
}

.home {
    color: #FEA301;
}

.about {
    color: #01ACFD;
}

.facilities {
    color: #05D4DF;
}

.Admission {
    color: #5D58EF;
}

.fa-bars {
    display: none;
}

.nav-btn {
    font-size: 1.125rem;
    font-weight: 600;
    color: white;
    background-color: #FEA301;
    border-radius: 12px;
    padding: 15px 60px;
    border: none;
    cursor: pointer;
}

/* Hero */

.hero-content h1 {
    font-size: 3.5rem;
    font-weight: 700;
    line-height: 61px;
    max-width: 640px;
}

.hero-content p {
    max-width: 640px;
    padding: 24px auto;
    color: #111111;
}

.empowering {
    color: #FEA301;
    margin-left: -10px;
}

.towards-vision {
    color: #01ACFD;
}

.hero-btn {
    background-color: #111111;
}

/* Standard Curriculum Section */
.Curriculum h2 {
    margin-top: 100px;
    text-align: center;
    margin-bottom: 80px;
}

.curriculum-box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 28px;
}

.curriculum-box h3 {
    font-size: 1.5rem;
    font-weight: 700;
    margin: 0px auto;
}

.card {
    padding: 50px 20px;
    text-align: center;
    box-shadow: 0 0 28.3px rgba(0, 0, 0, 0.150);
}

.card1 {
    background: linear-gradient(#DEF5FF, white);
}

.card2 {
    background: linear-gradient(#FFF4DC, white);
}

.card3 {
    background: linear-gradient(#F2E8FF, white);
}

.curriculum-box a {
    text-decoration: none;
}

.angle-icon {
    font-size: 1.5rem;
    text-align: center;
    margin-top: 80px;
    color: white;
}

.fa-angle-left {
    padding-top: 20px;
    background-color: #FEA301;
    height: 60px;
    width: 60px;
    border-radius: 50%;
}

.fa-angle-right {
    padding-top: 20px;
    background-color: #FEA301;
    height: 60px;
    width: 60px;
    border-radius: 100%;
}

/* Our StoriesOur */
.story-container {
    background: linear-gradient(white, #fae1b5);
}

.stories-h2 {
    text-align: center;
    margin-top: 60px;
}

.story-card-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.story-container img {
    border-radius:20px 20px 0 0;
}

.story-card-box img {
    max-height: 100%;
    border-radius: 10px 10px 0 0;
}

.story-0 {
    background-color: white;
    border-radius: 16px;
}

.story-p {
    max-width: 100%;
}

.story-0 h3 {
    font-size: 1.5rem;
    font-weight: 700;
    padding-left: 38px;
    margin-bottom: 48px;
}

.story-0 p {
    font-size: 1rem;
    font-weight: 500;
    padding-right: 68px;
    padding-left: 38px;
    line-height: 38px;

}

.story-btn {
    font-size: 0.95875rem;
    color: white;
    background-color: #3CD8E8;
    padding: 14px 18px;
    border-radius: 47.93px;
    border: none;
    cursor: pointer;
    position: relative;
    bottom: 35px;
    left: 38px;
}

.story-bottom-btn {
    text-align: center;
    margin-top: 80px;
    margin-bottom: 60px;
}

.story-card {
    background-color: white;
    border-radius: 16px;
}

.story-card h4 {
    max-width: 80%;
    font-weight: 700;
    font-size: 1rem;
    margin: 0 auto;
    padding-top: 5px;
}
.nan{
    display: none;
}

/* Footer */
.footer{
    background-color: #01ACFD;
    
}
.footer-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
/* First */
.footer-logo{
    justify-content: flex-start;
}
.footer-logo h2{
    font-size: 2.625rem;
    font-weight: 700;
    color: white;
}
.footer-text{
    font-size: 1.25rem;
    color: #ffffff;
}
/* Mid div */
.meed-div h3{
    font-size: 1.5rem;
    font-weight: 700;
    color: white;
    margin-left: 155px;
}
.meed-div li{
    font-size: 1.25rem;
    font-weight: 500;
    color: white;
    list-style-type: none;
    justify-content: center;
    margin-left: 150px;
}
/* Last div */
.last{
    margin-left: 150px;

}
.last h3{
    font-size: 1.625rem;
    font-weight: 700;
    margin-bottom: 10px;
    color: white;
}